html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  margin: 0 auto; }

.wrapper {
  height: 100vh;
  display: flex; }

@media (max-width: 1024px) {
  .wrapper {
    box-sizing: border-box; } }

@media (max-width: 640px) {
  .wrapper {
    flex-direction: column; }
  .form-container {
    height: 100%; } }

.yellow-line {
  width: 10px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 8px;
  height: auto;
  background-color: #ffd900; }

@media (max-width: 640px) {
  .yellow-line {
    width: 100%; } }

.logo {
  margin: 10px; }
  .logo__image {
    margin: 0 auto;
    width: 80px;
    height: 80px;
    zoom: 0.5; }

.form-container {
  padding: 10px;
  width: 100%;
  max-width: 620px;
  min-width: 324px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.main-form {
  margin: 0 auto;
  font-family: "Means Web", Georgia, Times, "Times New Roman", serif;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
  max-width: 460px;
  width: 100%; }

.title {
  box-sizing: border-box;
  text-align: left; }
  .title__header {
    padding: 10px 0 25px 0;
    font-size: 42px;
    font-weight: normal; }
  .title__description {
    font-size: 16px;
    padding: 0 0 25px 0; }

.input-username,
.input-password {
  padding: 0 0 20px;
  font-size: 18px;
  width: 100%; }

.form-input {
  padding: 10px;
  font-size: 18px;
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0 0 0; }

.form-input:focus {
  border-radius: 2px;
  border: solid 2px #007786; }

.login-button {
  box-sizing: border-box;
  padding: 15px 0 15px 0;
  width: 100%;
  border: none;
  border-radius: 1px;
  margin: 20px 0 30px 0;
  color: white;
  background-color: #007786;
  font-weight: bold;
  box-shadow: unset;
  font-size: 16px; }

.checkbox {
  width: 25px;
  height: 25px;
  margin: 0 12px 0 0; }

.checkbox-label {
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 0 0 20px; }

.form-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }

.form-link {
  color: #007786;
  padding: 0 5px 0 5px; }

.form-link:hover {
  color: #00444d; }

.footer {
  margin: 150px 0 0 0;
  font-size: 14px;
  color: grey; }

.footer-link {
  color: grey; }

.footer-link:hover {
  color: #00444d; }

@media (max-width: 1024px) {
  .form-container {
    box-sizing: border-box;
    max-width: 1024px; } }

.content-container {
  width: 100%;
  height: 100%; }

.content {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  background-color: #d7eacc;
  background-image: url("../img/content.jpeg");
  background-size: cover;
  background-attachment: local;
  background-position: center top;
  background-repeat: no-repeat; }

.message {
  text-align: center;
  margin: 40px; }
  .message__title {
    font-size: 22px;
    font-weight: bold;
    padding: 10px; }
  .message__text {
    font-size: 18px;
    padding: 0 0 6px; }

.message-button {
  box-sizing: border-box;
  padding: 8px 0 8px 0;
  width: 100px;
  border-radius: 2px;
  border: solid 2px black;
  background-color: #d7eacc;
  margin: 20px 0 30px 0;
  box-shadow: unset;
  font-size: 16px; }

.message-button:hover {
  color: #464646; }

@media (max-width: 1024px) {
  .content-container {
    display: none; } }
