html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  margin: 0 auto; }

.wrapper {
  height: 937px;
  display: flex; }

.yellow-line {
  width: 10px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 8px;
  height: auto;
  background-color: #ffd900; }

.logo {
  margin: 10px; }
  .logo__image {
    margin: 0 auto;
    width: 80px;
    height: 80px;
    zoom: 0.5; }

.form-container {
  padding: 10px;
  width: 100%;
  max-width: 620px;
  min-width: 324px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.main-form {
  margin: 0 auto;
  font-family: "Means Web", Georgia, Times, "Times New Roman", serif;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
  max-width: 460px;
  width: 100%; }

.title {
  box-sizing: border-box;
  text-align: left; }
  .title__header {
    padding: 10px 0 25px 0;
    font-size: 42px;
    font-weight: normal; }
  .title__description {
    font-size: 16px;
    padding: 0 0 25px 0; }

.input-username,
.input-password {
  padding: 0 0 20px;
  width: 100%; }

.form-input {
  padding: 10px 0 10px 0;
  width: 100%;
  margin: 10px 0 0 0; }

.login-button {
  box-sizing: border-box;
  padding: 15px 0 15px 0;
  width: 100%;
  border: none;
  border-radius: 1px;
  margin: 20px 0 30px 0;
  color: white;
  background-color: #007786;
  font-weight: bold;
  box-shadow: unset;
  font-size: 16px; }

.checkbox {
  width: 25px;
  height: 25px;
  margin: 0 12px 0 0; }

.checkbox-label {
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 0 0 20px; }

.form-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }

.content-container {
  width: 100%;
  height: 100%; }

.content {
  display: flex;
  margin: 0 auto;
  text-align: center;
  height: 100%;
  background-color: #d7eacc; }
  .content__image {
    width: 720px;
    height: 512px; }
