.content-container {
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  margin: 0 auto;
  text-align: center;
  height: 100%;
  background-color: rgb(215, 234, 204);

  &__image {
    width: 720px;
    height: 512px;
  }
}
