.logo {
  margin: 10px;
  &__image {
    margin: 0 auto;
    width: 80px;
    height: 80px;
    zoom: 0.5;
  }
}

.form-container {
  width: 100%;
  max-width: 620px;
  min-width: 324px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-form {
  // margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  box-sizing: border-box;
  font-family: "Means Web", Georgia, Times, "Times New Roman", serif;
  &__header {
    padding: 10px 0 25px 0;
    font-size: 42px;
    font-weight: normal;
  }

  &__description {
    font-size: 16px;
    padding: 0 0 25px 0;
  }
}

.input-username {
  padding: 0 0 20px;
}

.form-input {
  margin: 10px 0 0 0;
}

.footer {
  margin: 100px 30px 10px 30px;
}
